body {
    background-color: #fafafa;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.08);
    box-shadow: 0 1px 4px rgba(0,0,0,0.03);
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* *********************************
           Variables
  ********************************** */
/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
  background: rgba(118, 176, 194, 0);
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #22F;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
}

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: 2px;
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
/*    background: #EC5954;*/
    background-image: url('../img/pattern-background-2.jpg');
    background-attachment: scroll;
    background-size: cover;
    color: white;
}
.big-logo-row .big-logo-container {
  padding-top: 50px;
}
.big-logo-row h1 {
  font-size: 4em;
  margin: 0;
  padding: 0 0 15px 0;
}

.big-logo-row h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0 0 15px 0;
}

@media (min-width: 400px) {
  .big-logo-row h1 {
    font-size: 4.5em;
  }
    
  .big-logo-row h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 440px) {
  .big-logo-row h1 {
    font-size: 5.5em;
  }

  .big-logo-row h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 6.5em;
  }
}
@media (min-width: 630px) {
  .big-logo-row h1 {
    font-size: 7.5em;
  }
}
@media (min-width: 768px) {
  .big-logo-row h1 {
    font-size: 9em;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .big-logo-row h1 {
    font-size: 12em;
  }
}


/* *********************************
           Big Logo
  ********************************** */
.post-header-row {
    background-color: #EC5954;
/*    background-image: url('../img/post-bg.jpg');*/
    background-attachment: scroll;
    background-size: cover;
}
.post-header-row .post-header-container {
  padding-top: 100px;
    text-align: center;
    color: white;
}
.post-header-row h1 {
  font-size: 1em;
  margin: 0;
  padding: 0 0 15px 0;
}
@media (min-width: 400px) {
    .post-header-row h1 {
        font-size: 1.0em;
    }
    
    p {
        line-height: 1.5;
        margin: 25px 0;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-family: Lora,'Times New Roman',serif;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
    }

    .section-heading {
        font-size: 24px;
        margin-top: 40px;
        font-weight: 700;
    }
}
@media (min-width: 440px) {
    .post-header-row h1 {
        font-size: 1.5em;
    }
    
    p {
        line-height: 1.5;
        margin: 25px 0;
            display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-family: Lora,'Times New Roman',serif;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
    }

    .section-heading {
        font-size: 24px;
        margin-top: 40px;
        font-weight: 700;
    }
}
@media (min-width: 500px) {
    .post-header-row h1 {
        font-size: 2.5em;
    }
    
    p {
        line-height: 1.5;
        margin: 25px 0;
            display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-family: Lora,'Times New Roman',serif;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
    }

    .section-heading {
        font-size: 24px;
        margin-top: 40px;
        font-weight: 700;
    }
}
@media (min-width: 630px) {
    .post-header-row h1 {
        font-size: 3.5em;
    }
    
    p {
        line-height: 1.5;
        margin: 25px 0;
            display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-family: Lora,'Times New Roman',serif;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
    }

    .section-heading {
        font-size: 26px;
        margin-top: 45px;
        font-weight: 700;
    }
}
@media (min-width: 768px) {
    .post-header-row h1 {
        font-size: 4em;
        padding-bottom: 30px;
    }
    
    p {
        line-height: 1.5;
        margin: 25px 0;
            display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-family: Lora,'Times New Roman',serif;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.8);
    }

    .section-heading {
        font-size: 28px;
        margin-top: 55px;
        font-weight: 700;
    }
}
@media (min-width: 1200px) {
    .post-header-row h1 {
        font-size: 6em;
    }
    
    p {
        line-height: 1.5;
        margin: 25px 0;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-family: Lora,'Times New Roman',serif;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.7);
    }

    .section-heading {
        font-size: 30px;
        margin-top: 60px;
        font-weight: 700;
    }
}

blockquote {
    color: gray;
    font-style: italic;
}


.caption p {
  font-family: "medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 18px;
  color: rgba(0,0,0,0.6);
}

.caption h3 {
  font-family: "medium-content-sans-serif-font","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: -0.02em;
}

.btn {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
}

h5 .card-author {
    margin-left: 5px;
    
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h6 .card-time {
    margin-left: 5px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,0.44);
    padding-top: 2px;
}


footer p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.44);
    text-align: center;
}

p .twitter-share-button {
    margin-bottom: -5px;
}

.btn-primary {
    background-color: #76b0ff;
    border-color: #76b0ff;
}
